#menu{
    text-align: center;

}
#menu-izq{
    color: var(--primary-color);
}

#menu-der ul li a{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;   
}

#menu-der ul li a:hover{
    color: var(--primary-color-dark);
    text-decoration: underline;
}

#menu-der ul li a.active{
    color: var(--primary-color-dark);
}

@media only screen and (min-width: 768px){ /*en pantallas de 768px de ancho o más*/
 
    #menu-der ul{
        display: flex;
    }
    
    #menu-der ul li{
        margin: auto;
    }
}
